li {
  list-style: none;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

li label {
  cursor: pointer;
}

li label input {
  cursor: inherit;
}