.btn {
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-danger {
  color: #fff;
  background-color: #da4f49;
  border: 1px solid #bd362f;
}

.btn-danger:hover {
  background-color: #bd362f;
}